<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Music Search</title>
</head>
<body>
    <div class="container index-container">
        <img src="{{ url_for('static', filename='musique_alpha.jpeg') }}" alt="New image" style="width: 400px; height: auto;" class="small-image image-margin">
        <form action="{{ url_for('search') }}" method="post">
            <input type="text" name="query" placeholder="Search music..." class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</body>
</html>
